/* Estilos personalizados */
.navbar {
    Background-color: #2a3d50; /* Azul escuro */
    }
    
    .card {
    Border: none;
    Border-radius: 8px;
    Box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .btn-success {
    Background-color: #26af5f; /* Verde do botão */
    Border: none;
    }
    
    .btn-success:hover {
    Background-color: #2bcf70;
    }
    
    .card-footer {
    Background-color: #f7f7f7;
    Text-align: center;
    }